.body {
  position: relative;
<<<<<<< HEAD
  height: 84vh;
  @media screen and (min-width: $breakpoint-sm) {
    height: 88vh;
  }
=======
  height: 86vh;
>>>>>>> db2c3b372054c7cbb48859553dbc9cbc07136b24
}
