.colors-table {
  width: 100%;
}

.color-block {
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: $breakpoint-md) {
  .colors-table {
    display: list;
    columns: 5;
  }
}
