.footer {
  height: 10vh;
  padding: 1rem 2rem;
  @include link($color-white);
  @media screen and (min-width: $breakpoint-sm) {
    height: 6vh;
  }
}

.footer-copyright {
  opacity: .5;
}

.footer-links {
  @media screen and (min-width: $breakpoint-sm) {
    text-align: right;
  }
}
