.footer {
  height: 12vh;
  @include link($color-white);
  padding: 1rem;
  @media screen and (min-width: $breakpoint-sm) {
    height: 8vh;
  }
}

.footer-copyright {
  opacity: .5;
}

.footer-links {
  @media screen and (min-width: $breakpoint-sm) {
    text-align: right;
  }
}
