.search {
  margin: 2rem 0;
  @media screen and (min-width: $breakpoint-sm) {
    width: 300px;
  }
}

.gallery-body {
  overflow: hidden;
}

.gallery-row {
  height: inherit;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .gallery-item {
    &:first-child {
      margin-right: 4%;
    }
  }

  .gallery-body {
    .ms-List-cell {
      height: auto;
      overflow: hidden;
      width: inherit;
      &:nth-child(2n+1) {
        .gallery-item {
          &:first-child {
            width: 62%;
          }
          &:last-child {
            width: 34%;
          }
        }
      }

      &:nth-child(2n) {
        .gallery-item {
          &:first-child {
            width: 34%;
          }
          &:last-child {
            width: 62%;
          }
        }
      }
    }
  }
}

.gallery-item {
  background-color: $color-neutralLight;
  box-shadow: 0 10px 30px fade-out($color-black, .8);
  float: left;
  height: 13rem;
  margin-bottom: 4%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:focus,
  &:hover {
    .gallery-item-thumbnail {
      transform: scale(1.1, 1.1);
    }

    .gallery-item-meta {
      background-color: fade-out($color-black, .2);
    }
  }
  @media screen and (min-width: 425px) {
    height: 20rem;
  }
  @media screen and (min-width: 550px) {
    height: 12rem;
  }
  @media screen and (min-width: 1024px) {
    height: 16rem;
  }
  @media screen and (min-width: 1440px) {
    height: 24rem;
  }
}

.gallery-item-thumbnail {
  @include transition(ease, all, .5s);
  height: inherit;
  width: 100%;

  &>div {
    height: inherit;
    position: relative;
    width: inherit;

    img {
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.gallery-item-meta {
  background-color: fade-out($color-black, .5);
  color: $color-white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1200;

  & > * {
    position: absolute;
  }

  .gallery-item-title {
    font-size: 1rem;
    font-weight: 300;
    left: 50%;
    padding: 2rem;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .gallery-item-description {
    display: none;
    max-height: 60%;
    overflow: hidden;
    padding: 2rem;
  }

  .gallery-item-download {
    bottom: 2rem;
    left: 2rem;
    opacity: .8;

    .icon,
    .label {
      display: inline-block;
      vertical-align: middle;

      &:not(:first-child) {
        margin-left: .5rem;
      }
    }

    .label {
      text-decoration: none;

      &,
      &:visited {
        color: $color-white;
      }

      &:hover,
      &:focus {
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .gallery-item-title {
      font-size: 1.2rem;
      text-align: left;
      top: 10%;
    }

    .gallery-item-description {
      display: block;
      top: 20%;
    }
  }

  @media screen and (min-width: 1440px) {
    .gallery-item-title {
      font-size: 1.6rem;
      text-align: left;
      top: 10%;
    }

    .gallery-item-description {
      display: block;
      font-size: 1.2rem;
      top: 20%;
    }
  }
  @media screen and (min-width: 2560px) {
    .gallery-item-title {
      font-size: 2.5rem;
      text-align: left;
      top: 10%;
    }

    .gallery-item-description {
      display: block;
      font-size: 1.5rem;
      top: 25%;
    }
  }
}
