.guidelines {
  h2 {
    margin-bottom: 0;
    @include link($color: transparent, $display: inline);
    a {
      margin-left: .5rem;

      &::after {
        display: inline;
      }
    }
    &:hover,
    &:focus {
      a {
        color: $color-themePrimary;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
  }
}
