.header {
  @include box-shadow;
  padding: 1rem 2rem;
  height: 7vh;
}

.header-title,
{
  display: inline-block;
}

.header-title {
  @include link($color: $color-white, $padding: 1rem);
}

.header-brand {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2rem;
}
