.header {
  height: 6vh;
  padding-left: 3rem;
  padding-top: 1rem;
  overflow: hidden;
  @include link($color-white);
}

@media screen and (min-width: $breakpoint-md) {
  .header-title {
    font-size: 1.2rem;
  }
}
