$color-white: #fff;
$color-black: #000;
$color-neutralLight: #eaeaea;
$color-neutralPrimary: #333333;
$color-neutralSecondary: #666666;
$color-themePrimary: #0078d7;
$color-neutralTertiary: #A6A6A6;

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 640px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1366px;
$breakpoint-xxl: 1920px;
